.skill {
  .block-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 80px;
    align-items: stretch;

    > * {
      min-width: 0;
      height: 100%;
    }

    @media screen and (max-width: 1080px)  {
      grid-template-columns: 1fr;
      gap: 80px;
      padding: 20px;
    }
  }
}