@import "theme/sass/theme";

.block {
  width: fit-content;
  min-width: 96px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  .img-wrapper {
    height: 60%;
    margin-bottom: 10px;

    img {
      height: 100%;
    }

    .dark-logo {
      filter: brightness(1.5) contrast(1.1);
    }
  }

  span {
    font-weight: bold;
  }
}

:global(.theme-dark) {
  .block {
    border:$darkBorder;
    box-shadow: $darkShadow;

    .img-wrapper {
      .dark-logo {
        filter: brightness(2) contrast(1.2);
      }
    }
  }
}

:global(.theme-light) {
  .block {
    border: $lightBorder;
    box-shadow: $lightShadow;
    background-color: #FFFFFF;
  }
}