name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          persist-credentials: true
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - run: |
          echo "{\"mailService\": \"${{ secrets.MAIL_SERVICE }}\", \"mailThankYouTemplate\": \"${{ secrets.MAIL_THANK_YOU_TEMPLATE }}\", \"mailFeedbackTemplate\": \"${{ secrets.MAIL_FEEDBACK_TEMPLATE }}\", \"publicKey\": \"${{ secrets.PUBLIC_KEY }}\"}" > src/mail/config.json
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Configure Git
        run: |
          git config --global user.name "github-actions-bot"
          git config --global user.email "support+actions@github.com"
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
      - name: Deploy with gh-pages
        run: yarn deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
